<footer class="text-center text-gray-700 mt-5 sm:-mb-4 flex justify-center items-center space-x-2">
  <p class="cursor-default">
    Made with ❤️ using
    <a href="https://tailwindcss.com/">Tailwind</a>,
    <a href="https://www.11ty.dev/">11ty</a>,
    <a href="https://mozilla.github.io/nunjucks">Nunjucks</a>.
  </p>
  <a href="https://github.com/mahiarirani/resume-serverless"
     class="text-lg group flex space-x-1 bg-white py-1 px-3 rounded-xl items-center hover:bg-gray-600 transition shadow">
    <i class="bx bxl-github group-hover:text-white"></i>
    <i class="bx bxs-star group-hover:text-yellow-400"></i>
  </a>
</footer>