<nav>
  <ul class="grid grid-cols-3 sm:flex flex-wrap justify-evenly sm:space-x-8 items-center font-medium">
    {% set navs = collections.all | eleventyNavigation %}
    {% for nav in navs %}
      <li class="text-center flex-grow">
        <a href="{{ nav.url | url }}"
           class="sm:border-b-2 inline-flex pb-5
                {% if nav.url == page.url %}
                  text-{{ theme.color.primary }}-700 border-{{ theme.color.primary }}-600 font-semibold sm:font-normal
                {% else %}
                  hover:text-{{ theme.color.primary }}-700 hover:border-{{ theme.color.primary }}-600 border-transparent
                {% endif %}
                  transition-all"
        >{{ nav.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>