---
eleventyComputed:
  title: '{{ information.name }}'
  subtitle: '{{ eleventyNavigation.title }}'
---
<!DOCTYPE html>
<html lang="en" data-lt-installed="true">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/icon/apple-touch-icon.png" | url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icon/favicon-32x32.png" | url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icon/favicon-16x16.png" | url }}">
  <link rel="manifest" href="{{ "/assets/icon/site.webmanifest" | url }}">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | url }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>{{ title }}{{ " | " + subtitle if subtitle }}</title>
</head>
<body class="bg-gray-100 antialiased">
<main class="container mx-auto p-4 sm:px-5 md:my-5 max-w-full lg:max-w-5xl">
  {{ content | safe }}
  {% include 'components/footer.njk' %}
</main>
</body>
<script>
    window.addEventListener('scroll', function () {
        localStorage.top = window.scrollY;
    })
    window.addEventListener('load',function () {
        window.scrollTo({top: localStorage.top || 0, behavior: 'smooth'});
    })
</script>
</html>