<section class="p-7 inline-grid w-full bg-white rounded-xl shadow">
  <h2 class="font-semibold text-xl mb-5">Contact</h2>
  <div class="flex flex-col space-y-2">
    <a href="mailto:{{ information.email }}"
       class="flex items-center text-green-600 hover:text-green-700 transition-all space-x-2">
      <i class="bx bx-envelope text-xl"></i>
      <span>{{ information.email }}</span>
    </a>
    <a href="tel:{{ information.phone }}"
       class="flex items-center text-green-600 hover:text-green-700 transition-all space-x-2 tracking-wide align-middle">
      <i class="bx bx-phone text-xl"></i>
      <span>+{{ information.phone }}</span>
    </a>
  </div>
  <ul class="flex space-x-2 mt-4">
    {% for social in information.socials %}
      <li>
        <a href="{{ social.url | url }}" class="hover:text-green-700 transition-all p-1"
           target="_blank">
          <i class="bx {{ social.icon }} text-2xl"></i>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>