<section class="p-7 inline-grid w-full bg-white rounded-xl shadow">
  <h2 class="font-semibold text-xl mb-5">Information</h2>
  <div class="space-y-2">
    {% for item, value in information.details %}
      <div class="flex justify-between">
        <div class="text-gray-600 font-medium capitalize">{{ item }}</div>
        <div class="text-right text-gray-500 capitalize">{{ value }}</div>
      </div>
    {% endfor %}
  </div>
</section>