---
layout: resume
type: section
keywords:
  experience
  work
  jobs
  career
  professional
  employment
  history
  companies
  roles
  responsibilities
eleventyNavigation:
  key: experience
  title: Experience
  order: 1
---

<h2 class="font-semibold text-xl mb-5">{{ eleventyNavigation.title }}</h2>

{% for experience in experiences %}
  <div class="sm:flex sm:justify-start sm:space-y-0 sm:space-x-4 space-y-4">
    <div>
      <a href="{{ experience.url | url }}" target="_blank">
        <div class="flex w-16 h-16 bg-gradient-to-br {{ experience.logo.background.from }} {{ experience.logo.background.to }} justify-center items-center rounded-xl  overflow-hidden">
          <img src="{{ ( "/assets/images/logo/" + experience.logo.src ) | url }}" alt="{{ experience.company }} Logo"
               class="w-16 h-auto {{ experience.logo.padding }}">
        </div>
      </a>
    </div>
    <div class="w-full space-y-5">
      <div class="sm:flex sm:justify-between sm:space-y-0 space-y-4">
        <div class="space-y-2">
          <div class="font-medium">{{ experience.role }}</div>
          <div class="flex space-x-5">
            <a href="{{ experience.url | url }}" target="_blank">
              <div class="flex text-gray-600 items-center text-sm font-medium space-x-1.5">
                <i class="bx bxs-briefcase text-sm"></i>
                <span>{{ experience.company }}</span>
              </div>
            </a>
            <div class="flex text-gray-500 items-center text-sm font-medium space-x-1.5">
              <i class="bx bxs-map text-sm" type="solid"></i>
              <span class="text-gray-500">{{ experience.location }}</span>
            </div>
          </div>
        </div>
        <div class="space-y-2 sm:text-right">
          <div class="inline-flex rounded-full py-0.5 capitalize px-2 text-xs
            {% if experience.fullAvailability %}
              text-green-600 bg-green-100
            {% else %}
              text-yellow-600 bg-yellow-100
            {% endif %}">
            {{ "Full" if experience.fullAvailability else "Part" }} Time
          </div>
          <div class="flex text-gray-600 items-center text-sm font-medium space-x-1.5">
            <i class="bx bxs-calendar text-sm"></i>
            <span>{{ experience.from }} – {{ experience.to }}</span>
          </div>
        </div>
      </div>
      <div>
        <p class="text-gray-600">
          {{ experience.description }}
        </p>
        <ol class="list-disc list-inside sm:list-outside text-gray-500 mt-3 space-y-1">
          {% for responsibility in experience.responsibilities %}
            <li>{{ responsibility }}</li>
          {% endfor %}
        </ol>
      </div>
      <div>
        {% import "components/skills.njk" as skills %}
        {{ skills.render(experience.skills, defaultColor = theme.color.primary) }}
      </div>
      {% if not loop.last %}
        <div class="border-b border-gray-200"></div>
      {% endif %}
    </div>
  </div>
{% endfor %}